.App {
  text-align: center;
}

.header {
  text-align: center;
  font-family: "Arial";
}

.droppable {
  background-color: "yellow";
}

/* .categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid;
  grid-column-gap: 20px;

} */


 .category-header {
   font-size: 18px;
   font-family: "Arial";
   text-align: center;
 }

 .draggable {
   width: 100px;
   height: 100px;
   text-align: center;


 }
